body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}

.header {
    background: #323232;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin: 0 13px;
}

.menu-item.menu-logo {
    position: relative;
    width: 140px;
}

.item-link {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    line-height: 6px;
    text-transform: uppercase;
    transition: color 0.2s;
}

.item-link:hover, .item-link:focus {
    color: #2eb398;
}

.item-link.active {
    color: #2eb398;
}

.item-link.link-logo {
    position: absolute;
    top: -200px;
    left: -128px;
    width: 0;
}

.image-logo {
    width: 64px;
    height: 55px;
}

.logo {
    margin: 0 auto;
    display: block;
}

.hexagon {
    width: 182px;
    height: 209px;
    margin: 5px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    position: relative;
    top: 53px;
    left: 100px;
}

.hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: #323232 no-repeat 50%;
}

.hexagon.hex-second-line {
    top: 3px;
    left: 3px;
}

.hexagon.hex-third-line {
    top: -48px;
    left: 100px;
}

.hex-bg0 {
    background-image: url("assets/images/1hex.png");
}

.hex-bg1 {
    background-image: url("assets/images/2hex.png");
}

.hex-bg2 {
    background-image: url("assets/images/3hex.png");
}

.hex-bg3 {
    background-image: url("assets/images/4hex.png");
}

.hex-bg4 {
    background-image: url("assets/images/5hex.png");
}

.hex-bg5 {
    background-image: url("assets/images/6hex.png");
}

.hex-bg6 {
    background-image: url("assets/images/7hex.png");
}

.hex-bg7 {
    background-image: url("assets/images/8hex.png");
}

.hex-bg8 {
    background-image: url("assets/images/9hex.png");
}

.hex-bg9 {
    background-image: url("assets/images/10hex.png");
}

.hex-bg10 {
    background-image: url("assets/images/11hex.png");
}

.hex-bg11 {
    background-image: url("assets/images/12hex.png");
}

.hex-bg12 {
    background-image: url("assets/images/13hex.png");
}

.hex-logo {
    background-image: url("assets/images/Logo.png");
    background-position: 50% 76%;
}

.hex-author {
    background-image: url("assets/images/Image.png");
}

.info {
    background-color: #2eb398;
    overflow: hidden;
}

.about {
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    display: flex;
    justify-content: center;
    padding: 45px 0;
    margin: 10px 78px;
}

.hexagon.class {
    flex-shrink: 0;
    left: 20px;
    top: -5px;
}

.information {
    margin: 0 22px 0 33px;
}

.author {
    color: #d7fcf5;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.subtitle {
    color: #20816d;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;;
}

.description {
    color: #d7fcf5;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    text-align: justify;
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
}

.social-link {
    width: 24px;
    height: 24px;
}

.facebook {
    background: #2eb398 url("assets/images/facebook.png") no-repeat;
}

.twitter {
    background: #2eb398 url("assets/images/twitter.png") no-repeat;
}

.google {
    background: #2eb398 url("assets/images/google.png") no-repeat;
}

.pinterest {
    background: #2eb398 url("assets/images/pinterest.png") no-repeat;
}

.linkedin {
    background: #2eb398 url("assets/images/linkedin.png") no-repeat;
}

.dribbble {
    background: #2eb398 url("assets/images/dribbble.png") no-repeat;
}

.footer {
    background-color: #323232;
}

.contact {
    display: flex;
    padding: 65px 80px;
    box-sizing: border-box;
}
.in-touch-form {
    padding: 0 20px 0 0;
}

.fieldset {
    border: none;
}

.input-text, .textarea {
    background-color: #454545;
    color: #bebebe;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 38px;
    border: none;
    margin: 7px;
    padding: 0 0 0 15px;
    box-sizing: border-box;
}

.textarea {
    height: 150px;
    padding: 15px;
    resize: none;
}

.legend {
    color: #e0e0e0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.contact-p {
    color: #bebebe;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: -7px 0 10px ;
    padding-left: 6px;
}

.button {
    background-color: #2eb398;
    border: none;
    color: #d7fcf5;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    display: block;
    cursor: pointer;
}

.contact-information {
    width: 180px;
    flex-shrink: 0;
    padding-top: 53px;
}

.contact-description {
    font-family: 'Lato', sans-serif;
    color: #bebebe;
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    line-height: 21px;
}

.contact-description:before {
    content: "Quisque Hendrerit: ";
    color: #e0e0e0;
    font-weight: 900;
    font-size: 12px;
}

.address {
    margin: 34px 0 0 -10px;
    padding: 0;
    list-style: none;
}

.call, .mailto, .location {
    color: #bebebe;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
}


.location:before {
    content: url("assets/images/location.png");
    padding: 15px;
}

.call:before {
    content: url("assets/images/phone.png");
    padding: 14px;
}

.mailto:before {
    content: url("assets/images/mail.png");
    padding: 13px;
}

.footer-copyright {
    background: #222222;
}

.copyright {
    max-width: 980px;
    margin: 0 auto;
    color: #454545;
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 43px;
    padding-top: 13px;
    padding-left: 35px;
    background: #222;
}